* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100%;
  background: #7e0505;
}

.wrap .num1 header {
  width: 100%;
  height: 48px;
  line-height: 48px;
  color: #fff;
}

.wrap .num1 header p {
  text-align: center;
}

.wrap .num1 header span {
  margin: 0px 10px;
  display: inline-block;
  width: 65px;
  height: 36px;
  position: relative;
  top: -7px;
}

.wrap .num1 .row {
  width: 96%;
  margin: 0 auto;
}

.wrap .num1 .row .sum {
  width: 96%;
  display: flex;
  margin: 6px auto;
}

.wrap .num1 .row dl {
  width: 32%;
  margin: 0px 8px;
  width: 30%;
  margin: 0 5px;
  height: 128px;
  background: #fff;
}

.wrap .num1 .row dl dt {
  height: 100px;
}

.wrap .num1 .row dl dt img {
  width: 100%;
  margin: 1px 2px;
}

.wrap .num1 .row dl dd {
  color: #ccc;
  text-align: center;
  font-size: 15px;
}
